<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="pessoaForm" (submit)="enviar()">
      <ion-item lines="none">
        <ion-label position="floating">nome:</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
      <ion-button padding shape="round" expand="block" type="submit">Gravar</ion-button>
    </form>

    <ion-item *ngFor="let arrayPessoa of arrayPessoa" line="nome">
      <ion-label>
        {{arrayPessoa.nome}}
      </ion-label>
    </ion-item>

  </div>
</ion-content>
